.header{
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}
.back{
    display: flex;

}
.imgback{
   margin: 10px;
}
.title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

abbr{
    text-decoration: none;
}